In [1]:
import pandas as pd
import numpy as np

In [2]:
placement = pd.read_csv("placement.csv")
placement

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [3]:
placement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cgpa          100 non-null    float64
 1   resume_score  100 non-null    float64
 2   placed        100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [4]:
placement.shape

(100, 3)

In [5]:
placement.sample()

    cgpa  resume_score  placed
88  8.07          6.07       1

In [6]:
import sys
import tensorflow.keras
import pandas as pd
import sklearn as sk
import tensorflow as tf
import platform

print(f"Python Platform: {platform.platform()}")
print(f"Tensor Flow Version: {tf.__version__}")
print()
print(f"Python {sys.version}")
print(f"Pandas {pd.__version__}")
print(f"Scikit-Learn {sk.__version__}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

Python Platform: Windows-10-10.0.19045-SP0
Tensor Flow Version: 2.13.1

Python 3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]
Pandas 2.1.4
Scikit-Learn 1.2.2
GPU is NOT AVAILABLE

In [1]:
import tensorflow as tf
from tensorflow.python.client import device_lib

In [4]:
gpus = tf.config.list_physical_devices("GPU")
if gpus:
    print(f"Number of GPUs available: {len(gpus)}\n")
    for i, gpu in enumerate(gpus):
        print(f" GPU {i}:")
        print(f"Name: {gpu.name}")
        print(f"Device Type: {gpu.device_type}")

        gpu_details = device_lib.list_local_devices()
        for devices in gpu_details:
            if device.device_type == "GPU":
                print(f"Device Description: {device.physical_device_desc}")
                print(f"Memory Limit: {device.memo_limit / (1024 ** 3)}:.2f GB\n")
else:
    print("No GPU Avaialable")

No GPU Avaialable